<p style="color: green"><%= notice %></p>

<h2>Welcome, <%= @user.name %>!</h2>

<p><strong>Email:</strong> <%= @user.email %></p>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to Home", root_path %>
</div>
